
.accounts-container {
  margin-top: 20px;
  display: grid;
}

.card-header{
  display: flex;
  justify-content: space-between;
  
}

.customer-card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}
.card-footer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  align-items: center;
}

.customer-card:hover {
  transform: translateY(-5px);
}

.customer-card .card-title {
  font-size: 18px;
  font-weight: 600;
  
}

.customer-card .card-text {
  font-size: 14px;
  color: #007bff;
}
