/* Dashboard.css */
.dashboard-container {
    background-origin: padding-box;

    
}
  .small-box {
    padding: 10px 5px;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #e8e8e8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  }
  
  .accordion-button:not(.collapsed) {
    background-color: #F5F4B3;
  }
  
  .small-box:hover {
    transform: translateY(-5px);
  }
  
  .dashboard-card .card-title {
    font-size: 20px;
    font-weight: 600;
  }
  
  .dashboard-card .card-text {
    font-size: 20px;
    font-weight: 600;
    color: #3948ed;
    text-align: right;
    animation: fadeIn 1s ease-in-out;
  }
  .small-box p {
    color: #000000;
    font-size: 20px;
    font-weight: 600;
  
  }
  .small-box h5{
    color: #000000;
    font-weight: 700;
  }
  

@keyframes fadeIn { 
  0% { opacity: 0; transform: translateX(20px); } 
  100% { opacity: 1; transform: translateX(0); } 
}

